@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --brandRGB: 0, 0, 0;
  --brand: #000;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
}
@font-face {
  font-family: "League Spartan";
  src: url("./fonts/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype-variations");
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  display: flex;
  font-family: "League Spartan";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  box-shadow: none;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303030;
  border-radius: 0;
}
